@import "./theme.scss";

:root {
  --app-blue: #2633ec;
  --app-grey: #b7b7b7;
}

body {
  background-color: #f9fbfd;
}

.section {
  display: flex;
}
.highlight {
  background-color: #000000;
}
.bold {
  font-weight: bold;
}

.title {
  margin: 120px auto;
  text-align: center;
}

.content-margin {
  margin-top: 50px;
}

.content-padding {
  padding-top: 50px;
}

.text-dark {
  color: #12263f;
}

.border {
  border-color: #d2ddec !important;
}
