// Fonts import
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


// Define variable defaults
$body-bg: #000;
$body-color: #111;


body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 10px;
    font-size: .8rem;
    padding: 9px 35px;
} 